@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0px;
  background-color: #0f172a;
}

h1 {
  font-family: "Inter";
  font-size: 30px;
  font-weight: bold;
  color: #629898;
}

h2 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  color: #629898;
}

p, span, label, select, div {
  font-family: "Inter";
  font-size: 16px;
}

button.add-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #629898;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.app-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 480px;
  padding-bottom: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.navbarDollarIcon {
  height: 30px;
}

.resetButtonIcon {
  height: 20px;
}

.editIcon {
  height: 20px;
}

.addIcon {
  height: 20px;
}


.reset-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 5px;
  height: 30px;
  border-color: #CC5500;
  cursor: pointer;
}

.reset-button p {
  color: #CC5500;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
}

.transaction-list-container{
  border: solid #A3A1A1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.transaction-list {
  list-style-type: none ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.financial-details-transactions p {
  color: #629898;
  margin-bottom: 8px;
  font-weight: 500;
}


.financial-details-transactions ul {
  padding: 10px;
}

.labeled-dollar-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

li {
  padding-right: 0;
}

.nett-balance-container {
  border: solid #A3A1A1;
  border-radius: 5px;
  padding: 10px;
}

.expense-containers-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: solid #A3A1A1;
  padding: 10px;
  width: 160px;
}

.financial-details-header-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.expense-dropdown {
  text-align: center;
}

.top-section h1{
  text-align: center;
}

.chatbot-section, .financial-details {
  padding-bottom: 24px;
}

.chatbot-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px; 
  width: 100%;
}



iframe {
  display: block;
  margin: 0 auto;
}

section {
  width: 80%;
}

select {
  text-align: center;
  border: none; 
  border-bottom: 2px solid #629898; 
  background-color: transparent; 
}

select:focus {
  outline: none;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.popup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.5;
  background: #f1f1f1;
  padding: 28px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.popup-content h2 {
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
}

.close-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px; 
  right: 10px; 
}

.submission-button {
  background-color: #629898;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;  
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.edit-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  height: fit-content;
}
